@import url(variables.css);
@import url(reset.css);
body {
    background-color: var(--body-color);
    font-family: var(--font-family);
    width: 100%;
}
button{
    cursor: pointer;
}
.container {
    display: flex;
}
.column{
    flex-direction: column;
}
input:focus {
    outline: none;
}
.center{
    align-items: center;
}
.flex{
    display: flex;
}
.input-label{
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}
.input-form{
    width: 100%;
    height: 3rem;
    font-size: 0.9rem;
    box-shadow: 2px 1px 3px var(--shadows-color);
    padding: 0 1rem;
    box-sizing: border-box;
    border: none;
}
select {
    outline: none;
}


.textarea-form {
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 5rem;
    max-height: 7rem;
    height: auto;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    box-sizing: border-box;
    overflow: auto;
    border: none;
    outline: none;
    resize: none;
    box-shadow: 2px 1px 3px var(--shadows-color);
}
.input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 35%;
}
.input-message-error{
    display: none;
}
.azul{
    color: var(--primary-color);
}
@media screen and (max-width: 768px) {
    .input-form {
        margin-bottom: 0;
        font-size: 0.86rem;
    }
    
    .textarea-form {
        margin-bottom: 0;
        font-size: 0.86rem;
    }
}
@media screen and (max-width: 360px) {
    .input-container{
        width: 90%;
    }
}