@import url(_reset.css);
@import url(_variables.css);

body {
    background-color: var(--body-color);
    font-family: var(--font-family);
    width: 100%;
}
.container {
    display: flex;
}
.column{
    flex-direction: column;
}
input:focus {
    outline: none;
}
.center{
    align-items: center;
}