.form_section{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20rem;
}
.form-titulo{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 35%;
}
.input-label{
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}
.input-form{
    width: 100%;
    height: 3rem;
    font-size: 0.9rem;
    box-shadow: 2px 1px 3px var(--shadows-color);
    padding: 0 1rem;
    box-sizing: border-box;
}
.input-message-error{
    display: none;
}
@media screen and (max-width: 360px) {
    .input-container{
        width: 90%;
    }
}