.producto_section{
    background-color: var(--secondary-color);
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: row;
    padding: 2rem 3rem;
    box-sizing: border-box;
}
.img_producto{
    position: relative;
    width: 100%;
    height: 60%;
    border-radius: 9px 9px 0  0;
}
.img_producto-descripcion{
    width: 40%;
    height: 100%;
    border-radius: 9px;
    margin-left: 3rem;
}
.nombre_producto{
    color: var(--color-letras);
    font-size: 0.91rem;
}
.descripcion_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 60%;
    padding: 4rem 2rem 1rem;
}
.nombre_producto-titulo{
    color: var(--color-letras);
    font-size: 3rem;
}
.precio_producto{
    color: var(--color-letras);
    font-weight: bold;
    font-style: italic;
    font-size: 0.91rem;
}
.descripcion_producto{
    font-size: 1.19rem;
}
.codigo_producto{
    font-style: italic;
}
@media screen and (max-width: 1090px) {
    .producto_section{
        height: 20rem;
        padding: 1.5rem;
    }
    .img_producto-descripcion{
        width: 50%;
        height: 100%;
        margin-left: 0;
    }
    .descripcion_container{
        width: 100%;
        margin: 0 0 0 2rem;
    }
    .nombre_producto-titulo{
        font-size: 2rem;
    }
    .descripcion_producto{
        font-size: 1rem;
    }
}
@media screen and (max-width: 534px) {
    .producto_section{
        padding: 1rem 2rem;
        height: 30rem;
        flex-direction: column;
    }
    .img_producto-descripcion{
        width: 100%;
        height: 100%;
        border-radius: 9px;
    }
    .descripcion_container{
        padding: 0;
        height: 100%;
        margin: 2rem 0 0 0;
    }
    .nombre_producto{
        font-size: 0.87rem;
    }
    .precio_producto{
        font-size: 0.87rem;
    }
}
@media screen and (max-width: 360px) {
    .producto_section{
        padding: 1rem ;
        height: 32rem;
        flex-direction: column;
    }
    .img_producto-descripcion{
        width: 100%;
        height: 100%;
        border-radius: 9px;
    }
    .descripcion_container{
        height: 100%;
        margin: 2rem 0 0 0;
    }
    .codigo_producto{
        font-size: 0.89rem;
    }
}