.cards{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 170px;
    height: 250px;
    border-radius: 10px;
    border: solid 1px #97979765;
    margin-top: 0.9rem;
    margin-right: 0.4rem;
    box-shadow: 2px 1px 3px #97979765;
}
@media screen and (max-width: 768px) {
    .card{
        width: 160px;
        margin-right: 0;
    }
}
@media screen and (max-width: 360px) {
    .card{
        width: 150px;
    }
}